/* ------------------------------------------------------ Variables Start ------------------------------------------------------ */

:root {
  --basic-red: #EE3643;
  --basic-background: #F1F5F7;
  --basic-green: #63A63E;
  --basic-subtitle: #F9F5F0;
  --exception-red: #FF5357;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-black: #000000;
  --basic-black-25: rgba(0, 0, 0, 0.25);
  --block-yellow: #FFC047;
  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 0.5);
  --special-grey: #A9A9A9;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --footer-yellow: #FFD180;
  --warning: #FFBF47;
  --error: #BA2732;
  --punch-subtitle: #F2F6F8;
  --social-icon: #212A3A;
  --accent-color-border: #32425C;
  --accent-color-button: #518534;
  --accent-color-delivery: #293449;
  --accent-bookmark: #161D29;
  --accent-site-navigation-link: #1D2739;
  --accent-catalog: #CA2C37;
  --main-header-background: #F3F7F9;
  --catalog-background: #F7F3EC;
  --producers-background: #EAEAEA;
  --border-button: #E5E5E5;
  --scale-background: #D7DCDE;
  --bar-background: #00ca74;
  --input-range-button: #ABABAB;
  --input-dash: #444444;
  }

/* ------------------------------------------------------ Variables End ------------------------------------------------------ */

/* ------------------------------------------------------ Util Classes Start ------------------------------------------------------ */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button-wrapper{
  padding: 0;

  border: none;
  background-color: transparent;
}

.link-wrapper {
  text-decoration: inherit;
  color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------------------------------------------ Util Classes End ------------------------------------------------------ */

/* -------------------------------------------------- Structure Classes Start ------------------------------------------------ */

  .body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    min-height: 100%;

    color: var(--white);
    background-color: var(--white);
    background-position: top center;
    background-repeat: no-repeat;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  /* Page Start */

  .page {
    height: 100%;
  }

  /* Page End */

  /*Inner Page Start*/

  .inner-page {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 38px 1fr 38px;
    gap: 20px;

    margin-bottom: 150px;
  }

  /* Inner Page End */

  /* Header Start*/

  .header {
    background-color: var(--main-header-background);
  }

      .header-top-bar {
        margin-bottom: 46px;
      }

      .header-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin-bottom: 40px;
      }

      .header-desc {
        display: flex;
        align-items: center;

        margin: 0 0 0 30px;

        width: 197px;
        height: 71px;

        font-style: italic;
        font-size: 16px;
        line-height: 23px;

        color: var(--basic-red);
      }

      .header-contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .header-phone {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: 270px;
        height: 45px;

        font-weight: 700;
        font-size: 21px;
        line-height: 30px;

        text-decoration: none;

        color: var(--basic-red);
        border: 3px solid #FFFFFF;
      }

      .header-phone-icon {
        margin-right: 16px;
      }

      .header-address {
        max-width: 250px;
        min-height: 24px;

        font-size: 14px;

        color: var(--accent-color-border);
      }

      .header-site-navigation{
        margin-bottom: 60px;
      }

  /* Header End */

  /*---------------------- Header Navigation Start----------------- */

  .top-bar {
    height: 42px;

    background-color: var(--accent-color-delivery);
  }

  .top-bar-inner {
    display: flex;
    align-items:flex-start;
  }

  .top-bar-logo {
    width: 220px;
    height: 47px;

    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  }

  .top-bar-logo:active {
    background-color: var(--error);
  }

  .top-bar-logo-image {
    position: relative;
    left: 56px;
    top: 12px;
    bottom: 17px;
  }

  .search
  .search-control {
    display: inline-flex;

    height: 42px;
    width: 271px;

    background-color: var(--accent-color-delivery);
  }


  .search-control {
    background-image: url("../img/decor/icon-search17x17.svg");
    background-repeat: no-repeat;
    background-position: left 17px top 12px;

    padding-left: 42px;

    outline: none;
    border: none;
  }

    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  ::-webkit-input-placeholder {
    color: white;
  }

  .search-control:focus {
    background-color: var(--white);
    background-image: url("../img/decor/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: left 17px top 12px;
  }

  .top-bar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;

    background-color: var(--accent-color-delivery);
  }

    .top-bar-link {
      display: flex;
      align-items: center;

      height: 42px;
      padding: 0 20px;

      text-decoration: none;

      color: var(--white);
    }

    .top-bar-link:active {
      color: var(--white-50);
      background-color: var(--accent-bookmark);
    }

    .top-bar-link:hover .top-bar-link-icon {
      opacity: 1;
    }

    .top-bar-link:active .top-bar-link-icon {
      opacity: 0.5;
    }

    .top-bar-link-checkout {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--basic-green);
    }

    .top-bar-link-checkout:hover {
      background-color: var(--success);
    }

    .top-bar-link-checkout:active{
      background-color: var(--basic-green);
    }

    .top-bar-link-icon {
      margin-right: 8px;

      opacity: 0.3;
    }


  /* User Navigation Start */

  .user-navigation-list {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;

    margin: 0;
    padding: 0;
  }

  .user-info-list {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
    left: 50px;
    bottom: 3px;

    width: 210px;
    min-height: 18px;

    margin: 0;
    padding: 0;
  }

  .user-info-item:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 88px;

    width: 4px;
    height: 4px;

    border-radius: 50%;

    background-color: var(--accent-color-border);
  }

    .user-info {
      font-size: 16px;
      line-height: 18px;

      text-decoration: none;

      color: var(--accent-color-border);
    }

    .user-info:hover {
      color: var(--basic-red);
    }

    .user-info:active {
      color: var(--basic-greylight);
    }

    .button-plate-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      width: 299px;
      height: 45px;

      margin-bottom: 7px;
      padding: 0 14px 0 15px;
      box-sizing: border-box;

      background-color: var(--white);
    }

    .info {
      max-width: 186px;

      margin: 2px 19px 0 18px;
    }

   /* User Navigation End*/

  /* Site Navigation Start*/

  .site-navigation-list {
    list-style: none;

    display: flex;

    margin: 0;
    padding: 0 27px 0 27px;

    background-color: var(--accent-color-border);
    box-shadow: inset 0px -5px 0px #293449;
  }

    .site-navigation-item {
      flex-grow:1;
    }

    .site-navigation-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      width: 100%;
      height: 60px;

      padding: 16px 24px 20px 27px;

      text-decoration: none;

      color: var(--white);
    }

    .site-navigation-link[href]:hover {
      background-color: var(--accent-color-delivery);
    }

    .site-navigation-link[href]:active {
      background-color: var(--accent-site-navigation-link);
      color: rgb(255,255,255,0.5);
      box-shadow: inset 0px -5px 0px #293449;
    }

   /* Site-navigation end */

/*--------------- Header Navigation End ---------------- */

  /* Footer Start */

  .footer {
    display: grid;
    grid-template-rows: 193px 1fr;

    background-color: var(--accent-color-border);
  }

      .footer-inner {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: 80px 1fr;
        align-items: flex-start;
      }

      .footer-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 220px;
        height: 68px;

        background-color: var(--basic-red);
        box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
      }

      .footer-contacts {
        display: inline-flex;
        flex-direction: column;

        margin: 13px 0 0 0;

        font-size: 18px;
      }

      .footer-category-list,
      .footer-navigation-list {
        list-style: none;
      }

      .footer-navigation-list {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        display: flex;
        justify-content: space-between;

        margin: 36px 0 0 44px;
        padding: 0;

        background-color: var(--accent-color-border);
      }

      .footer-category-list {
        display: flex;
        justify-content: space-between;

        margin: 13px 0 0 66px;
        padding: 0;
      }

      .footer-category-link,
      .footer-navigation-link {
        text-decoration: none;
      }

      .footer-navigation-link:hover,
      .footer-category-link:hover {
        text-decoration: underline;
      }

      .footer-navigation-link {
        color: var(--white);
      }

      .footer-navigation-link:active {
        color: rgba(241, 245, 247, 0.5); /* TODO: Забить цвет в переменную */
      }

      .footer-category-link{
        color: var(--footer-yellow);
      }

      .footer-category-link:active {
        color: rgba(255, 209, 128, 0.5); /* TODO: Забить цвет в переменную */
      }

      .footer-bottom {
        box-sizing: border-box;
        min-height: 107px;
        padding: 15px 0;

        background-color: var(--accent-color-delivery);
      }

      .footer-bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .footer-bottom-info {
        font-size: 16px;
        line-height: 18px;

        text-decoration: none;

        color: var(--white);

        margin: 0;
      }

      .footer-social-list {
        margin-left: 161px;
      }

      .footer-feedback {
        margin: 0 51px 0 auto;

        font-size: 16px;
      }

      .footer-developer {
        margin: 0;

        font-size: 16px;
      }

 /* Creator Start */
      .creator {
        color: var(--special-yellowlight);
      }

      .creator:hover {
        text-decoration: underline;
      }

      .creator:active {
        color: var(--basic-red);
      }

  /* Creator End */

  /* Footer End */

  /* -------------------------------------------------- Structure Classes End ------------------------------------------------ */

  /* -------------------------------------------------- Common Classes Start ------------------------------------------------ */

  /* Product card start */

  .products-list-index {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;

    margin: 0 0 70px 0;
    padding: 0px;
  }

  .products {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .products-list-inner {
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 18px;

    margin: 0;
    padding: 0;
  }

    .product-item {
      position: relative;
      overflow: hidden;
    }

    /* TODO настроить метку,чтобы работало на любой товар */
    .product-item:nth-child(2):after,
    .product-item:nth-child(4):after {
      content: "new";

      position: absolute;
      top: 5px;
      right: -27px;
      transform: rotate(45deg);

      width: 100px;
      height: 30px;

      text-align: center;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;

      padding: 5px 0;

      box-sizing: border-box;

      background-color: var(--basic-red);
    }

    .product-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      box-sizing: border-box;
      width: 220px;
      min-height: 318px;

      border: 1px solid var(--producers-background);

      position: relative;
      overflow: hidden;
    }

    .product-title {
      display: inline-block;
      text-align: center;

      width: 185px;

      margin: 0 0 7px 0;

      order: 1;

      font-family: "PT Sans", "Arial", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: var(--basic-black);
    }

    .product-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 220px;
      height: 170px;

      margin-bottom: 8px;
      padding-top: 10px;     /* TODO  ПОДУМАТЬ КАК СДЕЛАТЬ ЛУЧШЕ */

      box-sizing: border-box;
    }

    .product-image-wrapper:hover .product-image {
     display: none;
    }

    .product-image-wrapper .buy {
      display: none;
     }

    .product-image-wrapper:hover .buy {
      display: inline-flex;
     }

    .product-price {
      font-family: "PT Sans", "Arial", sans-serif;
      font-weight: 700;
      font-size: 17px;
      line-height: 18px;
      text-transform: uppercase;
    }

    .product-old-price {
      margin-bottom: 13px;

      color: var(--special-grey);

      order: 2;
    }

    .product-current-price {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      bottom: 21px;

      width: 141px;
      height: 38px;

      background-image: url("../img/punchers/red-button.png");
      background-repeat: no-repeat;

      color: var(--white);

      order: 3;
    }

  /* Product card end */

  /* Button Plate Start */

  .button-plate {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    box-sizing: border-box;
    height: 45px;

    padding: 0 24px;

    font-size: 21px;
    line-height: 21px;

    text-decoration: none;

    color: var(--basic-black);

    background-color: var(--white);
  }

  .button-plate-wrapper .button-plate {
    padding: 0;
  }

  .button-plate:hover {
    color: var(--basic-red);
  }

  .button-plate:hover .icon {
    color: var(--basic-grey);
  }

  .button-plate:hover .info {
    color: var(--basic-black);
  }

  .button-plate:active {
    color: var(--basic-greylight);
  }

  .button-plate:active .icon {
    color: var(--basic-greylight);
  }

  .button-plate:active .info {
    text-decoration: none;

    color: var(--basic-greylight);
  }

  .button-plate-login {
    padding: 0 27px 0 19px;
  }

  .button-plate .icon {
    color: var(--basic-greylight);
  }

  /* Button Plate End */

  /* Button Start */

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 192px;
    height: 38px;

    text-decoration: none;
    text-transform: uppercase;

    color: var(--white);
    border: none;
    outline: none;
    background-color: var(--basic-red);
    transition: background-color 100ms;

    font-size: 14px;
    line-height: 18px;
  }

  .button:hover {
    outline: none;
    background-color: var(--accent-catalog);
  }

  .button:active {
    outline: none;
    background-color: var(--error);
  }

  /* Button Color Modifiers */

  .button-white,
  .button-white:hover,
  .button-white:active
   {
    color: var(--basic-black);
    border: 1px solid var(--border-button);
    background-color: var(--white);
  }

  .button-ghost {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .button-ghost:hover {
    background-color: rgba(197, 197, 197, 0.3);
  }

  .button-ghost:active {
    background-color: rgba(169, 169, 169, 0.3);
  }

  /* Button Context Classes */

  .button-filter {
    width: 220px;
  }

  .button-offer-card {
    width: 135px;
  }

  .button-popular {
    margin-left: auto;
  }

  /* Button End */

  /* Plate Start */

  .plate {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 20px;
    padding: 30px 15px 30px 28px;
    box-sizing: border-box;
    height: 89px;

  }

  /* Plate Color Modifiers */

  .plate-blue {
    background-color: var(--punch-subtitle);

    grid-column: 1 / -1;
  }

  .plate-beige {
    background-color: var(--basic-subtitle);
  }

  /* Plate End*/

  /* Heading Start */

  .heading {
    margin: 0;

    text-transform: uppercase;

    font-size: 30px;
    line-height: 30px;

    color: var(--accent-color-border);
  }

  /* Heading End */

  /* Breadcrumbs start */

  .breadcrumbs-list {
    list-style: none;

    display: flex;
    justify-content: start;
    gap: 40px;

    position: relative;

    height: 18px;

    grid-column: 1 / -1;

    margin: 0 0 20px 0;
    padding: 0;
  }

  .breadcrumb-title {
    position: relative;

    font-family: "PT Sans", "Arial", sans-serif;

    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
  }

  .breadcrumb-title:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -24px;
    width: 8px;
    height: 12px;

    background-image: url("../img/decor/icon-right-small8x12.svg");
  }

   .main-link {
     position: relative;
     top: 2px;
   }
 /* Breadcrumbs end */

 /* Sort Start*/

.sort {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 700px;
  height: 38px;

  padding: 10px 14px 10px 19px;
  box-sizing: border-box;

  background-color: var(--catalog-background);
}

  .sort-title {
    margin: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    text-decoration: none;
    text-transform: uppercase;

    color: var(--basic-black);
  }

  .sort-type-list li:not(:nth-last-child(-n+2)) {
    border-bottom: 1px dashed var(--basic-red);
  }

  .sort-type-list li:hover:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid var(--basic-red);
  }

  .sort-type-list {
    list-style: none;

    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    position: relative;

    width: 450px;

    padding: 0;
    margin: 0 0 0 140px;
  }

  .sort-type-list li:nth-child(1) {
    margin-right: 70px;
  }

  .sort-type-list li:nth-child(2) {
    margin-right: 65px;
  }

  .sort-type-list li:nth-child(3) {
    margin-right: 46px;
  }

  .sort-type-list li:nth-child(4) {
    margin-right: 21px;
  }

  .sort-type {
    color: rgba(0, 0, 0,0.3);
  }

  .sort-type:hover {
    color: var(--basic-black);
  }

  .sort-type:active {
    color: var(--basic-red);
  }

  .sorting:hover .icon-sorting {
    fill: var(--basic-black);
  }

  .sorting:active .icon-sorting {
    fill: var(--basic-red);
  }

/* Sort end */

  /* Text Start */

  .text {
    margin: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

    color: var(--basic-black);
  }

  /* Text End */

  /* Fieldset Start */

  .fieldset {
    display: flex;
    flex-direction: column;
  }

  .fieldset:nth-of-type(1) {
    position: relative;
  }

  .fieldset:nth-of-type(1)::after {
    content: "";
    position: absolute;
    top: 195px;

    width: 220px;
    height: 1px;

    background-color: rgba(171, 171, 171, 0.3);
  }

  .fieldset:nth-of-type(2) {
    position: relative;
  }

  .fieldset:nth-of-type(2)::after {
    content: "";
    position: absolute;
    top: 250px;

    width: 220px;
    height: 1px;

    background-color: rgba(171, 171, 171, 0.3);
  }

  .fieldset-legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;

    text-transform: uppercase;

    color: var(--basic-black);
  }

  .fieldset-legend-price {
   margin-bottom: 10px;
  }

  .fieldset-legend-producers {
    margin-bottom: 15px;
  }

  .fieldset-legend-feeding {
    margin-bottom: 20px;
  }

  /* Fieldset End */

  /* Input-range */
  .input-range {
    width: 220px;
  }

  .input-range-track {
   position: relative;

   height: 80px;

   margin-bottom: 9px;
   padding: 39px 20px 0 20px;

   box-sizing:border-box;

   background-color: var(--catalog-background);
   border-radius: 5px;
  }

  .input-range-scale {
    height: 2px;
    background-color: var(--scale-background);
  }

  .input-range-bar {
   width: 80%;
   height: 2px;
   background-color: var(--bar-background);
  }

  .input-range-button {
    position: absolute;
    top: 29px;

    width: 20px;
    height: 20px;

    padding: 0;

    border-radius: 50%;
    outline: none;

    border: 8px solid var(--white);
    background-color: var(--input-range-button);
    box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);

    cursor: pointer;
  }

  .input-range-button-min {
    left: 18px;
  }

  .input-range-button-max {
    right: 40px;
  }

  .input-range-control {
    display: inline-flex;
    align-items: center;

    width: 95px;
    height: 38px;

    margin-bottom: 42px;
    padding: 10px 24px;

    box-sizing: border-box;

    border: none;
    outline: none;

    background-color: var(--catalog-background);

    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
  }

  .input-range input:first-of-type {
    margin-right: 25px;
  }

  .input-range-track::after {
    content: "";
    position: absolute;
    top: 106px;
    left: 107px;

    width: 7px;
    height: 2px;
    background-color: var(--input-dash);
  }

  /* Pagination Start */

.pagination {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 284px;
  height: 38px;

  margin: 0;
  margin-bottom: 59px;
}

  .pagination-list {
    list-style: none;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    margin: 0 0 59px 0;
  }

  .button-pagination-item {
    width: 38px;
    height: 38px;
  }

  .button-pagination {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    border: 1px solid var(--border-button);
    border-radius: 2px;

    text-transform: uppercase;
    text-decoration: none;

    color: var(--basic-black);
    background-color: var(--white);
  }

  .button-pagination:hover {
    border-color: var(--basic-greylight);
  }

  .button-pagination:active {
    border-color: var(--basic-red);
  }

/* Pagination End*/

  /* -------------------------------------------------- Common Classes End ------------------------------------------------ */

   .main-index {
    padding-top: 59px;
  }

  .main-inner {
    padding-top: 14px;
  }

  /* Offers start */

.offers {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;

  margin-bottom: 59px;
}

  .offer-list {
    list-style: none;

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;

    margin: 0;
    padding: 0;
  }

  .offer-item {
    position: relative;
    overflow: hidden;
  }

  /* TODO сделать чтобы метка ставилась на любую категорию */
  .offer-item:nth-child(1)::after {
    content: "new";

    position: absolute;
    top: 5px;
    right: -27px;
    transform: rotate(45deg);

    width: 100px;
    height: 30px;

    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    padding: 5px 0;

    box-sizing: border-box;

    background-color: var(--basic-red);
  }

  .offer-item:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .offer-item:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  .offer-card {
    --padding-horizontal: 22px;

    box-sizing: border-box;
    width: 300px;
    height: 123px;
    padding: 20px var(--padding-horizontal);

    background-repeat: no-repeat;
    background-position: top 30px right 35px;
    /* background-position: calc(100% - var(--padding-horizontal)) center; */
  }

    .offer-card-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;

      margin: 0 0 14px 0;
    }

    .offer-card-materials {
      background-color: var(--warning);
      background-image: url("../img/decor/icon-bucket44x65.svg");
    }

    .offer-card-tool {
      background-color: var(--special-blue);
      background-image: url("../img/decor/icon-drill75x61.svg");
    }

    .offer-card-technic {
      background-color: var(--special-lilac);
      background-image: url("../img/decor/icon-tracktor78x62.svg");
    }

    .offer-card-sale {
      background-color: var(--special-greenlight);
      background-image: url("../img/decor/icon-busket59x72.svg");
    }

    .offer-card-delivery {
      background-color: var(--block-yellow);
      background-image: url("../img/decor/icon-car78x63.svg");
    }

  /* Offers end */

  /* Slider start */

  .slider {
    position: relative;

    width: 620px;
    height: 266px;
  }

  .offers-slider{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

    .slide {
      position: relative;

      display: none;

      width: 620px;
      height: 266px;
    }

    .slide-visible{
      display: block;
    }

    .slide-image {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .slide-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content:center;

      box-sizing: border-box;
      height: 104px;
      padding: 16px 24px;

      background-color: var(--basic-black-25);
    }

    .slide-title {
      text-transform: uppercase;

      font-size: 36px;
      line-height: 36px;

      margin-bottom: 5px;
    }

    .slide-description {
      color: var(--white);

      font-size: 18px;
      line-height: 24px;
      font-weight: 400;

      margin: 0;
    }

    .slider-next-button,
    .slider-previous-button{
      position:absolute;
      top:50%;

      transform: translateY(-50%);
    }

    .slider-next-button {
    right: 24px;
  }

    .slider-previous-button{
    left: 24px;
  }

    .slider-controls-list {
      list-style: none;
    }

    .slide-button {
      position: absolute;
      bottom: 27px;
      left: 24px;
    }

    .button-radio {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      bottom: 36px;

      width: 10px;
      height: 10px;

      border: none;
      outline: none;

      border-radius: 50%;
      background-color: var(--white);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button-radio:focus::before {
      content: "";
      position: absolute;

      width: 6px;
      height: 6px;

      border-radius: 50%;
      background-color: red;

      z-index: 1;
    }

    .radio-previous-button {
      left: 295px;
      margin-right: 10px;
    }

    .radio-next-button {
      right: 297px;
    }

  /* Slider end */

  /* Popular Producers Start */

  .popular-producers-wrapper {
    display: grid;
    grid-template-rows: 90px 1fr;
  }

    .producer-list {
      list-style: none;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      margin: 20px 0 70px 0;
      padding: 0px;
    }

    .producer-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      border: 1px solid var(--producers-background);
      width: 220px;
      height: 145px;

      box-sizing: border-box;

      background-color: var(--white);
    }

    .producer-item:hover {
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }

    .producer-item:active {
      opacity: 50%;
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }

  /* Service Start*/

  .services {
    background-color: var(--basic-background);
  }

  .services-wrapper {
    display: grid;
    grid-template-rows: 0.5fr 1fr;

    margin-bottom: 67px;
    padding: 65px 0 6px 0;

    box-sizing: border-box;
  }

  .services-title {
    margin: 0 0 25px 0;
  }

  .services-title-wrapper {
   margin-bottom: 70px;
  }

  .services-title-wrapper .text {
    width: 396px;
  }

  .services-tab-list-wrapper {
    grid-row: 2 / 3;

    display: flex;
  }

  .services-tab-list {
    position: relative;
    width: 240px;
  }

  .services-tab-list::after {
    content: "";
    position: absolute;
    top: -48px;
    right: 0;

    width: 10px;
    height: 279px;

    background-image: url("../img/decor/object.png");
  }

  .services-tab-visible {
    display: block;
  }

    .services-title,
    .about-us-title,
    .about-category-title {
      color: var(--basic-black);
    }

    .services-tab-list {
      list-style: none;
      margin: 0 80px 0 0;
      padding: 0;
    }

    .services-tab-button {
      display: flex;
      align-items: center;

      width: 240px;
      height: 61px;

      padding-left: 22px;

      border: none;
      outline: none;

      font-weight: bold;
      font-size: 21px;
      line-height: 30px;

      background-color: var(--accent-color-border);
      color: var(--white);

      box-shadow: inset 0px 1px 0px #405069,
                  inset 0px 0px 0px 1px #293449;
    }

    .services-tab-button:hover,
    .services-tab-button:active {
      background-color: var(--white);
      color: var(--accent-color-border);

      box-shadow: 0px 1px 0px #FFFFFF;
    }

    .services-tab-content {
      width: 619px;
    }

    .services-tab-content-delivery .heading {
     margin-bottom: 30px;
    }

    .services-tab-content-delivery .text {
     width: 300px;
    }

    .services-tab-content-guarantee .heading {
     margin-bottom: 25px;
    }

    .services-tab-content-guarantee .text {
      width: 331px;
     }

     .services-tab-content-credit .heading {
      margin-bottom: 37px;
     }

     .services-tab-content-credit .text {
      width: 309px;

      margin-bottom: 26px;
     }

    .services-tab-content-delivery {
      min-height: 283px;

      background-image: url("../img/decor/truck468x261.png");
      background-repeat: no-repeat;
      background-position: top 24px right;
    }

    .services-tab-content-guarantee {
      display: none;

      position: relative;
      left: 320px;

      min-height: 283px;

      background-image: url("../img/decor/medal389x283.png");
      background-repeat: no-repeat;
      background-position: top right;
    }

    .services-tab-content-credit {
      display: none;

      position: relative;
      left: 320px;

      min-height: 283px;

      background-image: url("../img/decor/money465x285.png");
      background-repeat: no-repeat;
      background-position: top right;
    }

  /* Service End */

  /* About-us Start*/

  .about-us-contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: stretch;

    margin-bottom: 70px;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-us-title {
    margin-bottom: 26px;
  }

    .about-us .text {
      width: 460px;
    }

    .about-us p:nth-of-type(1) {
      margin-bottom: 28px;
    }

    .about-us p:nth-of-type(2) {
      margin-bottom: 5px;
    }

    .partners-list {
      list-style: none;

      margin: 0 0 8px 0;
      padding: 0;

      color: var(--basic-black);
    }

    .partner-item {
      position: relative;
      padding-left: 37px;
      margin-bottom: 12px;
    }

    .partner-item::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;

      width: 25px;
      height: 2px;

      background-color: var(--basic-red);
    }

    .about-us-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 220px;
    }

  /* About-Us End*/

  /* About Category Start */

  .about-category {
    display: flex;
    flex-direction: column;

    min-height: 261px;

    background-color: var(--basic-background);
  }

  .about-category .heading {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 25px;
  }

  .about-category .text {
    width: 907px;

    margin-bottom: 68px;
  }

/* About Category End */

/* Filter Start*/

.filter {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.filter-header {
  margin: 0;
  margin-bottom: 14px;

  display: flex;
  align-items: center;
  padding-left: 18px;

  height: 38px;

  text-transform: uppercase;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  color: var(--basic-black);

  background-color: var(--catalog-background);
}

/* Filter End */

/* Checkbox Start  */

.checkbox-list {
  margin: 0 0 45px 0;
  padding: 0;
}

.checkbox-list-radio {
  margin: 0 0 34px 0;
}

.checkbox-button {
  padding-left: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;

  color: var(--basic-black);

  cursor: pointer;
  user-select: none;
}

.option {
  display: block;
  margin-bottom: 16px;
}

.checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-left: -35px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox/checkbox-off.svg");
  background-color: var(--white);
}

.checkbox-input:checked + .check-box {
  background-image: url("../img/checkbox/checkbox-on.svg");
}

.checkbox-input:hover + .check-box {
  background-image: url("../img/checkbox/checkbox-off-hover.svg");
}

.checkbox-input:checked:hover + .check-box {
  background-image: url("../img/checkbox/checkbox-on-hover.svg");
}

.checkbox-input:focus + .check-box {
  background-image: url("../img/checkbox/checkbox-off-hover.svg");
}

.checkbox-input:checked:focus + .check-box {
  background-image: url("../img/checkbox/checkbox-on-hover.svg");
}

.checkbox-input:disabled + .check-box {
  background-image: url("../img/checkbox/checkbox-on-disabled.svg");
}

.checkbox-input:checked:disabled + .check-box {
  background-image: url("../img/checkbox/checkbox-off-disabled.svg");
}

/* Checkbox End  */


/* Radio Checkbox Start*/

.radio-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.radio-box {
  position: absolute;

  margin-left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-box/radio-off.svg");
  background-color: var(--white);
}

.radio-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;

  color: var(--basic-black);
}

.radio-input:checked + .radio-box {
  background-image: url("../img/radio-box/radio-on.svg");
}

.radio-input:hover + .radio-box {
  background-image: url("../img/radio-box/radio-off-hover.svg");
}

.radio-input:checked:hover + .radio-box {
  background-image: url("../img/radio-box/radio-on-hover.svg");
}

.radio-input:focus + .radio-box {
  background-image: url("../img/radio-box/radio-off-hover.svg");
}

.radio-input:checked:focus + .radio-box {
  background-image: url("../img/radio-box/radio-on-hover.svg");
}

.radio-input:disabled + .radio-box {
  background-image: url("../img/radio-box/radio-off-disabled.svg");
}

.radio-input:checked:disabled + .radio-box {
  background-image: url("../img/radio-box/radio-on-disabled.svg");
}

/* Radio Checkbox End*/


/* Buy Buttons Start*/

  .buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 170px;
  }

  .buy-button {
    width: 135px;

    margin-bottom: 10px;

    border: none;
    border-radius: 2px;

    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
  }

  .buy-button:hover {
    background-color: var(--success);
  }

  .buy-button:active {
    background-color: var(--accent-color-button);
  }

  .buy-button .icon-cart {
    opacity: 0.3;
  }

  .buy-button:hover .icon-cart {
    opacity: 0.3;
  }

  .buy-button:active .icon-cart {
    opacity: 0.3;
  }

  .bookmark-button {
    width: 135px;

    border: 3px solid var(--basic-green);
    border-radius: 2px;

    background-color: var(--white);
    color: var(--accent-color-border);
  }

  .bookmark-button:hover {
    border: none;
    border: 3px solid var(--accent-color-border);

    background-color: white;
  }

  .bookmark-button:active {
    border: none;
    border: 3px solid var(--basic-greylight);

    background-color: white;
    color: var(--basic-greylight);

  }

/* Buy Buttons End*/

/* Contacts */

.contacts {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts-title {
  margin-bottom: 24px;

  color: var(--basic-black);
}

  .contacts .text {
    width: 180px;

    margin-bottom: 32px;
  }

  .contacts-map-button {
    margin-bottom: 25px;
    padding: 0;

    border: none;
  }

  .contacts-button {
    width: 300px;
  }


/* Socials Start*/

.social-list {
  list-style: none;

  display: inline-flex;
  justify-content: space-between;
  gap: 3px;

  width: 134px;
  padding: 0;
}

  .button-round {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: var(--social-icon);
  }

  .button-round:hover {
      background-color: var(--basic-red);
  }

  .button-round:active {
      background-color: var(--basic-red);
  }

/* Socials End*/




