/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-background: #F1F5F7;
  --basic-green: #63A63E;
  --basic-subtitle: #F9F5F0;
  --exception-red: #FF5357;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-black: #000000;
  --block-yellow: #FFC047;
  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 0.5);
  --special-grey: #A9A9A9;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --footer-yellow: #FFD180;
  --warning: #FFBF47;
  --error: #BA2732;
  --punch-subtitle: #F2F6F8;
  --social-icon: #212A3A;
  --accent-color-border: #32425C;
  --accent-color-button: #518534;
  --accent-color-delivery: #293449;
  --accent-bookmark: #161D29;
  --accent-site-navigation-link: #1D2739;
  --accent-catalog: #CA2C37;
  --main-header-background: #F3F7F9;
  --catalog-background: #F7F3EC;
  --producers-background: #EAEAEA;
  --border-button: #E5E5E5;
  }

  /* Global */

  .body {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--white);
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: ;
  }

  /* Grid */

  .page {
    height: 100%;
  }

  .inner-page {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 90px 38px 1fr 38px;
    gap: 20px;
  }

  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  /* Header navigation */

  .header {
    background-color: var(--main-header-background);
  }

  .top-bar-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    width: 220px;
    height: 47px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .top-bar-logo:active {
    background-color: var(--error);
  }

  .top-bar {
    background-color: var(--accent-color-delivery);
  }

  .top-bar .container {
    display: flex;
    height: 42px;
    justify-content: ;
  }

  .search
  .search-control {
    background-color: var(--accent-color-delivery);
    display: inline-flex;
    height: 42px;
    width: 271px;
  }

  .search-control {
    background-image: url("../img/decor/icon-search17x17.svg");
    background-repeat: no-repeat;
    outline: none;
    border: none;
  }

  ::-webkit-input-placeholder {
    color: white;
  }

  .search-control:focus {
    background-color: var(--white);
  }

  .user-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .user-info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .user-info {
    font-size: 16px;
    line-height: 18px;
    color: var(--accent-color-border);
    text-decoration: none;
  }

  .user-info:hover {
    color: var(--basic-red);
  }

  .user-info:active {
    color: var(--basic-greylight);
  }

  .top-bar-links {
    background-color: var(--accent-color-delivery);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    width: 428px;
  }

  .top-bar-link {
    color: var(--white);
    text-decoration: none;
    height: 42px;
  }

  .top-bar-link .icon {
    opacity: 0.3;
  }

  .top-bar-link:hover .icon {
    opacity: 1;
  }

  .top-bar-link:active {
    color: var(--white-50);
  }

  .top-bar-link:active .icon {
    opacity: 0.5;
  }

  .top-bar-bookmark {
    display: flex;
    align-items: center;
  }

  .top-bar-bookmark .icon {
    margin-right: 9px;
  }

  .top-bar-cart {
    display: flex;
    align-items: center;

  }

  .top-bar-cart .icon {
    margin-right: 8px;
  }

  .checkout-link:hover {
    background-color: var(--success);
  }

  .top-bar-icon:active {
    background-color: var(--accent-bookmark);
  }

  .button-plate-box {
    background-color: var(--white);
    width: 299px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .button-plate .info {
    margin-left: 15px;
  }

  .button-plate .icon {
    color: var(--basic-greylight);
  }

  .button-plate:hover {
    color: var(--basic-red);
  }

  .button-plate:hover .icon {
    color: var(--basic-grey);
  }

  .button-plate:active {
    color: var(--basic-greylight);
  }

  .button-plate:active .icon {
    color: var(--basic-greylight);
  }

  .button-plate:hover .info {
    color: var(--basic-black);
  }

  .button-plate:active .info {
    text-decoration: none;
    color: var(--basic-greylight);
  }

  .button-plate-login {
    width: 121px;
    margin-bottom: 27px;
  }

  .button-plate-registration {
    width: 150px;
    margin-bottom: 27px;
  }

  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 40px;
  }

  .header-desc {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    width: 197px;
    height: 71px;
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
  }

  .header-contacts {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
  }

  .header-phone {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    text-decoration: none;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-address {
    font-size: 14px;
    color: var(--accent-color-border);
    max-width: 250px;
    min-height: 24px;
  }

  .checkout-link {
    background-color: var(--basic-green);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }

  /* Buttons */

  .button {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    height: 38px;
    border: none;
    width: 192px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .button-white {
    background-color: var(--white);
    color: var(--basic-black);
    width: 220px;
    border: 1px solid var(--border-button);
    box-sizing: border-box;
  }

  .button-slide:hover {
    background-color: var(--accent-catalog);
  }

  .button-slide:active {
    background-color: var(--error);
  }

  /* User navigation */

  .button-plate {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    text-decoration: none;
    background-color: var(--white);
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  /* Main navigation */

  .site-navigation-list {
    list-style: none;
    background-color: var(--accent-color-border);
    box-shadow: inset 0px -5px 0px #293449;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .site-navigation-list a {
    display: inline-flex;
    align-items: center;
    height: 60px;
  }

  .site-navigation-list a:not(:last-child) {
    margin-right: 56px;
  }

  .site-navigation-link {
    text-decoration: none;
    color: var(--white);
  }

  .site-navigation-link[href]:hover {
    background-color: var(--accent-color-delivery);
  }

  .site-navigation-link[href]:active {
    background-color: var(--accent-site-navigation-link);
    color: rgb(255,255,255,0.5);
    box-shadow: inset 0px -5px 0px #293449;
  }

  .breadcrumbs-list {
    list-style: none;
    grid-column: 1 / -1;
    display: flex;
    height: 18px;
    justify-content: start;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 21px;
    gap: 17px;
  }

  .breadcrumb-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-decoration: none;
  }

  .plate {
    height: 89px;
  }

  .plate-blue {
    background-color: var(--punch-subtitle);
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    padding-left: 29px;
  }

  .plate-beige {
    background-color: var(--basic-subtitle);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 14px;
    }

  /* Slides */

  .offer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
  }

  .offer-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  }

  .button-ghost {
    background-color: rgba(255, 255, 255, 0.3);
    width: 135px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .button-ghost:hover {
    background-color: rgba(197, 197, 197, 0.3);
  }

  .button-ghost:active {
    background-color: rgba(169, 169, 169, 0.3);
  }

  .offer-card {
    background-repeat: no-repeat;
    background-position: right;
    width: 300px;
    height: 123px;
  }

  .offer-card-materials {
    background-color: var(--warning);
    background-image: url("../img/decor/icon-bucket44x65.svg");
  }

  .offer-card-tool {
    background-color: var(--special-blue);
    background-image: url("../img/decor/icon-drill75x61.svg");
  }

  .offer-card-technic {
    background-color: var(--special-lilac);
    background-image: url("../img/decor/icon-car78x63.svg");
  }

  .offer-card-sale {
    background-color: var(--special-greenlight);
    background-image: url("../img/decor/icon-busket59x72.svg");
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .offer-card-delivery {
    background-color: var(--block-yellow);
    background-image: url("../img/decor/icon-tracktor78x62.svg");
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  /* .slider {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  } */

  .slide-title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .slide-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white);
  }

  .slider-controls-list {
    list-style: none;
  }

  /* Heading */

  .heading {
    font-size: 30px;
    line-height: 30px;
    color: var(--accent-color-border);
    text-transform: uppercase;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  /* Popular-goods and producers*/

  .products-list-index {
    list-style: none;
    display: grid;
    gap: 18px;
    margin-bottom: 70px;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .products-list-inner {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 20px;
    margin-left: 200px;
  }

  .producer-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 70px;
    padding: 0px;
    gap: 20px;
  }

  .popular-producers-wrapper {
    display: grid;
    grid-template-rows: 90px 1fr;
    gap: 20px;
  }

  .producer-item {
    background-color: var(--white);
    width: 220px;
    height: 145px;
    border: 1px solid var(--producers-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .producer-item:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  }

  .producer-item:active {
    opacity: 50%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  }

  /* Catalog */

  .products-list {
    list-style: none;
  }

  /* Product card */

  .product-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
  }

  .product-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
  }

  .product-old-price {
    color: var(--special-grey);
    order: 2;
  }

  .product-current-price {
    color: var(--white);
    background-color: var(--basic-red);
    order: 3;
  }

  .product-card {
    width: 220px;
    min-height: 318px;
    border: 1px solid var(--producers-background);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .product-card:hover .buy {
    display: inline-block;
    text-align: center;
  }

  .product-card:hover .product-image {
    display: none;
  }

  .product-card .buy {
    display: none;
  }

  .product-card .product-title {
    display: inline-block;
    text-align: center;
    width: 185px;
    order: 1;
  }

  .product-image {
    max-width: 184px;
    max-height: 164px;
    margin: 0;
  }

  /* Service */

  .services {
    background-color: var(--basic-background);
  }

  .services-wrapper {
    margin-bottom: 70px;
  }

  .services-title,
  .about-us-title,
  .about-category-title {
    color: var(--basic-black);
  }

  .about-category .heading {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 25px;
  }

  .about-category .text {
    width: 907px;
    margin-bottom: 68px;
  }

  .about-us-button {
    width: 220px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .partners-list {
    list-style: none;
    color: var(--basic-black);
  }

  .services-tab-list {
    list-style: none;
  }

  .services-tab-button {
    color: var(--white);
    background-color: var(--accent-color-border);
  }

  .services-button:active {
    background-color: var(--white);
  }

  .services-button:hover {
    background-color: var(--accent-color-delivery);
  }

  /* About-us and contacts */

  .about-us-contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 70px;
  }

  .about-us .text {
    width: 460px;
  }

  .contacts {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* Text */

  .text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
  }

  .about-category {
    background-color: var(--basic-background);
    min-height: 261px;
    display: flex;
    flex-direction: column;
  }

  /* Filters */

  .sort-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
  }

  .sort-type {
    color: rgba(0, 0, 0,0.3);
  }

  .sort-type:hover {
    color: var(--basic-black);
  }

  .sort-type:active {
    color: var(--basic-red);
  }

  .sorting:hover .icon-sorting {
    fill: var(--basic-black);
    }

  .sorting:active .icon-sorting {
    fill: var(--basic-red);
  }

  .filter-header {
    background-color: var(--catalog-background);
    height: 38px;
    margin: 0;
    margin-bottom: 14px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--catalog-background);
    display: flex;
    align-items: center;
    padding-left: 18px;
  }

  .sort {
    background-color: var(--catalog-background);
    width: 700px;
    height: 38px;
    display: flex;
    margin-bottom: 28px;
    align-items: center;
    justify-content: space-around;

  }

  .sort-type-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;
    display: inline-flex;
    justify-content: space-between;
    width: 450px;
  }

  .checkbox-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .checkbox-label {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
  }

  .fieldset {
    display: flex;
    flex-direction: column;
  }

  .fieldset-legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
  }

  /* Pagination */

  .button-pagination {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--white);
    text-decoration: none;
    border: 1px solid var(--border-button);
    border-radius: 2px;
  }

  .button-pagination-item {
    width: 38px;
    height: 38px;
  }

  .button-pagination:hover {
    border-color: var(--basic-greylight);
  }

  .button-pagination:active {
    border-color: var(--basic-red);
  }

  .pagination-list {
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 59px;
  }

  .pagination {
    margin: 0;
    width: 284px;
    height: 38px;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    margin-bottom: 59px;
  }

  /* Buy */

  .buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    height: 90px;
  }

  .buy-button {
    background-color: var(--basic-green);
    border: none;
    border-radius: 2px;
    width: 135px;
    box-shadow: inset 0px -3px 0px #367315;
    margin-bottom: 10px;
  }

  .buy-button:hover {
    background-color: var(--success);
  }

  .buy-button:active {
    background-color: var(--accent-color-button);
  }

  .buy-button .icon-cart {
    opacity: 0.3;
  }

  .buy-button:hover .icon-cart {
    opacity: 0.3;
  }

  .buy-button:active .icon-cart {
    opacity: 0.3;
  }

  .bookmark-button {
    color: var(--accent-color-border);
    background-color: var(--white);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
    width: 135px;
  }

  .bookmark-button:hover {
    border: none;
    border: 3px solid var(--accent-color-border);
  }

  .bookmark-button:active {
    border: none;
    border: 3px solid var(--basic-greylight);
    color: var(--basic-greylight);
  }

  /* Contacts */

  .contacts-title {
    color: var(--basic-black);
    margin-bottom: 10px;
  }

  .contacts .text {
    width: 180px;
    margin-bottom: 30px;
  }

  .contacts-map-button {
    margin-bottom: 25px;
    border: none;
    padding: 0;
  }

  .contacts-button {
    width: 300px;
  }


  /* Footer */

  .footer-navigation-list {
    background-color: var(--accent-color-border);
    margin: 0;
    padding: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    margin-left: 44px;
  }

  .footer-category-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    margin-left: 66px;
  }

  .footer-logo {
    display: inline-flex;
    background-color: var(--basic-red);
    width: 220px;
    height: 68px;;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    align-items: center;
    justify-content: center;
  }

  .footer-category-link {
    color: var(--footer-yellow);
    text-decoration: none;
  }

  .footer-navigation-link {
    text-decoration: none;
    color: var(--white);
  }

  .footer-navigation-link:hover,
  .footer-category-link:hover {
    text-decoration: underline;
  }

  .footer-navigation-link:active {
    color: rgba(241, 245, 247, 0.5);
  }

  .footer-category-link:active {
    color: rgba(255, 209, 128, 0.5);
  }

  .footer {
    background-color: var(--accent-color-border);
    display: grid;
    grid-template-rows: 193px 1fr;
  }

  .footer .container {
   display: grid;
   grid-template-columns: 350px 1fr;
   grid-template-rows: 80px 1fr;
   margin-bottom: 54px;
  }

  .footer-contacts {
    display: inline-flex;
    flex-direction: column;
  }

  .footer-category-list,
  .footer-navigation-list {
    list-style: none;
  }

  .footer-bottom {
    background-color: var(--accent-color-delivery);
    min-height: 107px;
  }

  .link-wrapper {
    text-decoration: none;
    color: var(--white);
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 29px;
    margin-bottom: 0;
  }

  .footer-feedback {
    margin-right: 51px;
  }

  /* Creator */

  .creator,
  .footer-copyright {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: var(--special-yellowlight);
  }

  .footer-copyright {
    color: var(--white);
  }

  .creator:active {
    color: var(--basic-red);
  }

  .creator:hover {
    text-decoration: underline;
  }

  /* Socials */
  .social-list {
    list-style: none;
    width: 134px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 161px;
    margin-right: 118px;
    gap: 3px;
  }

  .button-round {
  display: inline-flex;
  background-color: var(--social-icon);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  }

  .button-round:hover {
    background-color: var(--basic-red);
  }

  .button-round:active {
    background-color: var(--basic-red);
  }

