.button-round {
  --size: 44px;

  user-select: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  background-color: var(--social-icon);
}

.button-round:hover,
.button-round:focus-visible {
  background-color: var(--basic-red);
}

.button-round:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.button-round:active {
  background-color: var(--basic-red);
}

.button-round__icon {
  pointer-events: none;
}
