.about-category {
  min-height: 261px;

  background-color: var(--basic-background);
}

.about-category__title {
  margin-bottom: 25px;
}

.about-category .text {
  width: 907px;
}

.about-category__inner {
  padding-top: 64px;
  padding-bottom: 70px;
}

