.contacts {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts__title {
  margin-bottom: 24px;
}

.contacts .text {
  margin-bottom: 32px;
}

.contacts__map-button {
  margin-bottom: 20px;
  padding: 0;

  border: none;

  cursor: pointer;
}

.contacts__map-button:focus,
.contacts__map-button:focus-visible {
  outline: none;
}

.contacts__map-button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

