.footer {
  display: grid;
  grid-template-rows: 193px 1fr;

  color: var(--basic-background);
  background-color: var(--accent-color-border);
}

.footer__inner {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
}

.footer__bottom {
  box-sizing: border-box;
  min-height: 107px;
  padding: 15px 0;

  color:var(--white);
  background-color: var(--accent-color-delivery);

  font-size: 16px;
  line-height: 18px;
}

.footer__logo {
  position: relative;

  width: 220px;
  height: 68px;

  user-select: none;

  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-black-25);
}

.footer__logo:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.footer__logo-img {
  position: absolute;
  top: 19px;
  left: 41px;
  pointer-events: none;
}

.footer__link {
  color:inherit;
  text-decoration: inherit;
}

.footer__link:active {
  opacity: 0.5;
}

.footer__link:hover,
.footer__link:focus-visible {
  text-decoration: underline;
}

.footer__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.footer__link_yellow {
  color: var(--footer-yellow);
}

.footer__link_active-red:active {
  opacity: 1;
  color:  var(--basic-red);
}

.footer__category-list,
.footer__navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.footer__navigation-list {
  margin: 36px 0 0 44px;
  padding: 0;

  background-color: var(--accent-color-border);
}

.footer__navigation-list_pages{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.footer__navigation-list_categories {
  margin: 0 0 0 66px;
  padding: 0;
}

.footer__contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 347px;
  min-height: 49px;
  margin: -4px 0 0 3px;

  color: var(--main-header-background);
}

.footer__link-wrapper {
  text-decoration: inherit;

  font: inherit;
  color: inherit;
}

.footer__link-wrapper:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  max-width: 227px;
  margin: 0;
}

.footer__social-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1px;

  width: 134px;
  padding: 0;
  margin-left: 164px;

  list-style: none;
}

.footer__feedback {
  max-width: 137px;

  margin: 0 51px 0 auto;

  font-size: 16px;
  line-height: 18px;
}

.footer__developer {
  max-width: 98px;

  margin: 0 15px 0 0;

  font-size: 16px;
  line-height: 18px;
}
