.top-bar {
  height: 42px;

  background-color: var(--accent-color-delivery);
}

.top-bar-inner {
  display: flex;
  align-items:flex-start;
}

.top-bar-logo {
  width: 220px;
  height: 47px;

  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-black-25);
}

.top-bar-logo:active {
  background-color: var(--error);
}

.top-bar-logo-image {
  position: relative;
  left: 56px;
  top: 12px;
  bottom: 17px;
}

.search
.search-control {
  display: inline-flex;

  height: 42px;
  width: 271px;

  background-color: var(--accent-color-delivery);
}

.search-control {
  background-image: url("../img/decor/icon-search17x17.svg");
  background-repeat: no-repeat;
  background-position: left 17px top 12px;

  padding-left: 42px;

  outline: none;
  border: none;
}

.search-control:hover {
  background-image: url("../img/icon-search-hover.svg");
  background-repeat: no-repeat;
  background-position: left 17px top 12px;
}

  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.search-control::-webkit-input-placeholder {
  color: var(--white);
}

.search-control::-moz-placeholder {
  color: var(--white);
  opacity: 1;
}

.search-control:focus {
  background-color: var(--white);
  background-image: url("../img/decor/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: left 17px top 12px;
}

.top-bar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;

  background-color: var(--accent-color-delivery);
}

  .top-bar-link {
    display: flex;
    align-items: center;

    height: 42px;
    padding: 0 18px;

    text-decoration: none;

    color: var(--white);
  }

  .top-bar-link-cart {
    background-color: var(--basic-red);
  }

  .top-bar-links li:nth-child(1) {
    margin-right: 8px;
  }

  .top-bar-link:active {
    color: var(--white-50);
    background-color: var(--accent-bookmark);
  }

  .top-bar-link:hover .top-bar-link-icon {
    opacity: 1;
  }

  .top-bar-link:active .top-bar-link-icon {
    opacity: 0.5;
  }

  .top-bar-link-checkout {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--basic-green);
  }

  .top-bar-link-checkout:hover {
    background-color: var(--success);
  }

  .top-bar-link-checkout:active{
    background-color: var(--basic-green);
  }

  .top-bar-link-icon {
    margin-right: 8px;

    opacity: 0.3;
  }
