.sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;

  padding: 10px 14px 10px 19px;

  text-transform: uppercase;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort__type-list,
.sort__order-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.sort__type-list {
  column-gap: 67px;

  margin-right: 35px;
}

.sort__type-list-item {
  line-height: 0;
}

.sort__order-list {
  column-gap: 21px;
}

.sort__link {
  text-decoration: none;

  color: var(--basic-black-30);
}

.sort__link:hover,
.sort__link:focus-visible {
  color: var(--basic-black);
}

.sort__link:active,
.sort__link_checked {
  color: var(--basic-red);
}

.sort__link_checked.sort__link_underlined {
  border-bottom: none;
}

.sort__link-icon:hover {
  fill: var(--basic-black);
}

.sort__link-icon:active {
  fill: var(--basic-red);
}

.sort__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.sort__link_underlined {
  border-bottom: 1px dotted var(--basic-red);
}

.sort__link_underlined:hover {
  border-bottom: 1px solid var(--basic-red);
}
