.slider {
  position: relative;

  width: 620px;
  height: 266px;
}

.slider__next-button,
.slider__previous-button {
  position: absolute;
  top: 54%;

  transform: translateY(-50%);

  cursor: pointer;
}

.slider__next-button {
  right: 24px;
}

.slider__previous-button {
  left: 24px;
}

.slider__next-button:focus,
.slider__previous-button:focus {
  outline: none;
}

.slider__next-button:focus-visible,
.slider__previous-button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.slider__control-list {
  position: absolute;

  bottom: 18px;
  left: 256px;

  display:flex;
  column-gap: 10px;

  list-style: none;
}
