.button-plate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  box-sizing: border-box;
  height: 45px;
  padding: 0 24px;

  text-decoration: none;

  color: var(--color-black);
  background-color: var(--color-white);

  font-size: 21px;
  line-height: 21px;
}

.button-plate:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.button-plate:hover,
.button-plate:focus-visible {
  color: var(--color-amaranth);
}

.button-plate:active {
  color: var(--color-silver);
}

.button-plate:hover .button-plate__icon,
.button-plate:focus-visible .button-plate__icon {
  color: var(--color-fiord);
}

.button-plate:active .button-plate__icon {
  color: var(--color-silver);
}

.button-plate_login {
  padding: 0 27px 0 19px;
}

.button-plate__icon  {
  color: var(--color-silver);
}
