.button-plate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  box-sizing: border-box;
  height: 45px;
  padding: 0 24px;


  text-decoration: none;

  color: var(--basic-black);
  background-color: var(--white);

  font-size: 21px;
  line-height: 21px;
}

.button-plate:active {
  color: var(--basic-greylight);
}

.button-plate:hover,
.button-plate:focus-visible {
  color: var(--basic-red);
}

.button-plate:hover .button-plate__icon,
.button-plate:focus-visible .button-plate__icon {
  color: var(--basic-grey);
}

.button-plate:active .button-plate__icon {
  color: var(--basic-greylight);
}

.button-plate_login {
  padding: 0 27px 0 19px;
}

.button-plate__icon  {
  color: var(--basic-greylight);
}
