.button-plate-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    box-sizing: border-box;
    height: 45px;
    padding: 0 24px;

    background-color: var(--color-white);
}

.button-plate-box__link {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;

    text-decoration: none;
    vertical-align: top;

    color: var(--color-black);

    font-size: 21px;
    line-height: 21px;
}

.button-plate-box__link:hover .button-plate-box__link-icon,
.button-plate-box__link:focus-visible .button-plate-box__link-icon {
    color: var(--color-fiord);
}

.button-plate-box__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.button-plate-box__link:active,
.button-plate-box__link:active .button-plate-box__link-icon {
    color: var(--color-silver);
}

.button-plate-box__link-icon {
    color: var(--color-silver);
}

.button-plate-box__link-icon_login {
    transform: translateY(-2px);
}
