.button-radio {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 10px;
  height: 10px;
  padding: 0;

  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px var(--color-black-25);
}

.button-radio:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.button-radio::before {
  --size: 6px;

  position: absolute;

  visibility: hidden;

  width: var(--size);
  height: var(--size);

  content: "";

  border-radius: 50%;
  background-color: var(--color-amaranth);
}

.buton-radio:hover::before {
  opacity: 0.5;
}

.button-radio_checked:focus-visible::before,
.button-radio_checked::before {
  visibility: visible;
}

