.modal-write-us {
  width: 620px;
  height: 430px;

  padding: 39px 80px 37px 80px;
  box-sizing: border-box;

  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
}

.write-us__wrapper {
  display: flex;
  justify-content: space-between;
}

.write-us__field {
  display: flex;
  flex-direction: column;

  margin-top: 0;
}

.write-us__placeholder-properties::-webkit-input-placeholder {
  padding: 6px 11px;

  color: var(--special-grey);

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.write-us__placeholder-properties::-moz-placeholder {
  color: var(--special-grey);
  opacity: 1;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.write-us__data-user {
  width: 220px;
  height: 38px;

  box-sizing: border-box;
}

.write-us__question-area {
  width: 460px;
  height: 114px;

  resize: none;
  
  margin-bottom: 37px;
  box-sizing: border-box;
}

.write-us__border {
  border: 2px solid var(--basic-greylight);
}

.write-us__border:focus-visible {
  outline: none;
  border: 2px solid var(--bar-background);
}

.write-us__modal-label {
  margin-bottom: 9px;
}


