.input-range {
  width: 220px;
}

.input-range__track {
 position: relative;

 height: 80px;

 box-sizing: border-box;
 margin-bottom: 9px;
 padding: 39px 20px 0 20px;

 background-color: var(--color-ecru-white);
 border-radius: 5px;
}

.input-range__scale {
  height: 2px;

  background-color: var(--color-iron);
}

.input-range__bar {
 width: 80%;
 height: 2px;

 background-color: var(--color-caribbean-green);
}

.input-range__button {
  position: absolute;
  top: 29px;

  width: 20px;
  height: 20px;
  padding: 0;

  cursor: pointer;

  border-radius: 50%;
  outline: none;
  border: 8px solid var(--color-white);
  background-color: var(--color-silver-chalice);
  box-shadow: 0 2px 0 0 var(--color-silver-chalice-30);
}

.input-range__button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.input-range__button-min {
  left: 18px;
}

.input-range__button-max {
  right: 40px;
}

.input-range__control {
  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  width: 95px;
  height: 38px;
  padding: 10px 24px;

  text-align: center;

  border: none;
  outline: none;
  background-color: var(--color-ecru-white);

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.input-range__control::-webkit-outer-spin-button,
.input-range__control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-range__control {
  -moz-appearance: textfield;
}

.input-range__control:focus-visible {
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.input-range__controls-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-range__track::after {
  position: absolute;
  top: 110px;
  left: 105px;

  width: 10px;
  height: 1px;

  content: "";

  background-color: var(--color-tundora);
}
