.social-list {
  list-style: none;

  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;

  width: 134px;
  padding: 0;
}

  .button-round {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: var(--social-icon);
  }

  .button-round:hover {
      background-color: var(--basic-red);
  }

  .button-round:active {
      background-color: var(--basic-red);
  }
