.plate {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  height: 89px;
  padding: 30px 15px 30px 28px;
}

.plate_blue {
  background-color: var(--punch-subtitle);
}

.plate_beige {
  background-color: var(--basic-subtitle);
}
