.page {
    height: 100%;
}

.page__body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    min-height: 100%;

    color: var(--white);
    background-color: var(--white);
    background-position: top center;
    background-repeat: no-repeat;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .main-index {
    padding-top: 59px;
  }

  .main-inner {
    padding-top: 16px;
  }

.page__popular-products,
.page__popular-producers  {
  margin-bottom: 70px;
}

.page__about-us-contacts {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  column-gap: 180px;

  margin-bottom: 67px;
}

.inner-page { /* TODO */
    display: flex;
    justify-content: space-between;
}
