.breadcrumbs__list {
  position: relative;

  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 17px;

  min-height: 18px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__link {
  position: relative;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--basic-black);

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.breadcrumbs__list-item:not(:first-child) {
  position: relative;

  padding-left: 23px;
}

.breadcrumbs__list-item:not(:first-child)::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 8px;
  height: 12px;

  content: "";
  transform: translateY(-50%);

  background-image: url(/img/decor/icon-right-small8x12.svg);
}

.breadcrumbs__link-icon_home {
  transform: translateY(2px);
}
