.heading {
  margin: 0;

  text-transform: uppercase;

  color: var(--accent-color-border);

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.heading_black {
  color: var(--basic-black);
}
