/* .checkbox-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.checkbox-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.checkbox-list_radio {
  margin: 0 0 37px 0;
}

.checkbox-list__button {
  padding-left: 35px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;

  color: var(--basic-black);

  cursor: pointer;
  user-select: none;
}

.option {
  display: block;
}

.checkbox-list__input {
  position: absolute;

  -webkit-appearance: none;
  appearance: none;
}

.checkbox-list__input:disabled + .check-box + .check-box-name {
  color: var(--basic-black-4);
}

.check-box {
  position: absolute;
  margin-left: -35px;
  width: 23px;
  height: 23px;

  background-image: url(/img/checkbox/checkbox-off.svg);
  background-color: var(--white);
}

.checkbox-list__input:checked + .check-box {
  background-image: url(/img/checkbox/checkbox-on.svg);
}

.checkbox-list__input:hover + .check-box {
  background-image: url(/img/checkbox/checkbox-off-hover.svg);
}

.checkbox-list__input:checked:hover + .check-box {
  background-image: url(/img/checkbox/checkbox-on-hover.svg);
}

.checkbox-list__input:focus + .check-box {
  background-image: url(/img/checkbox/checkbox-off-hover.svg);
}

.checkbox-list__input:checked:focus + .check-box {
  background-image: url(/img/checkbox/checkbox-on-hover.svg);
}

.checkbox-list__input:disabled + .check-box {
  background-image: url(/img/checkbox/checkbox-on-disabled.svg);
}

.checkbox-list__input:checked:disabled + .check-box {
  background-image: url(/img/checkbox/checkbox-off-disabled.svg);
} */




.input-checkbox {
  display: flex;
  align-items: flex-start;
}

.input-checkbox-label {
  position: relative;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  text-transform: uppercase;

  color: var(--basic-black);
}

.input-checkbox-control:disabled + .input-checkbox-label-wrapper {
  opacity: 0.3;
}

.input-checkbox-control:disabled + .input-checkbox-label-wrapper .input-checkbox-button {
  opacity: 1;
}

.input-checkbox-control:focus-visible + .input-checkbox-label-wrapper .input-checkbox-button {
  opacity: 1;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.input-checkbox-control:checked + .input-checkbox-label-wrapper .input-checkbox-button {
  background-image: url(/img/checkbox/checkbox-on.svg);
  background-repeat: no-repeat;
}

.input-checkbox-label-wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;

  cursor: pointer;
  transition: opacity 100ms;
}

.input-checkbox-label-wrapper:hover .input-checkbox-button {
  opacity: 1;
}

.input-checkbox-button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 26px;
  height: 23px;

  opacity: 0.8;
  outline: none;
  background-image: url(/img/checkbox/checkbox-off.svg);
  background-repeat: no-repeat;
}
