.site-navigation{
  margin-top: auto;
}

.site-navigation-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 27px 0 27px;

  background-color: var(--accent-color-border);
  box-shadow: inset 0px -5px 0px #293449;
}

  .site-navigation-item {
    flex-grow:1;
  }

  .site-navigation-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    min-height: 60px;

    padding: 16px 24px 20px 27px;

    text-decoration: none;

    color: var(--white);
  }

  .site-navigation-link[href]:hover {
    background-color: var(--accent-color-delivery);
  }

  .site-navigation-link[href]:active {
    background-color: var(--accent-site-navigation-link);
    color: rgb(255,255,255,0.5);
    box-shadow: inset 0px -5px 0px #293449;
  }
