.site-navigation {
  margin-top: auto;

  user-select: none;
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;

  margin: 0;
  padding: 0 23px 0 25px;

  list-style: none;

  background-color: var(--accent-color-border);
  box-shadow: inset 0px -5px 0px var(--accent-color-delivery);
}

.site-navigation__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 16px 24px 20px 27px;

  text-decoration: none;
  vertical-align: top;

  color: var(--white);
}

.site-navigation__link[href]:hover,
.site-navigation__link:focus-visible {
  background-color: var(--accent-color-delivery);
}

.site-navigation__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.site-navigation__link[href]:active {
  color: var(--white-50);
  background-color: var(--accent-site-navigation-link);
  box-shadow: inset 0px -5px 0px var(--accent-color-delivery);
}

