.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  box-sizing: border-box;
  width: 192px;
  height: 38px;

  user-select: none;
  text-decoration: none;
  text-transform: uppercase;

  outline: none;
  color: var(--white);
  border: none;

  background-color: var(--basic-red);
  transition: background-color 100ms;

  font-size: 14px;
  line-height: 18px;
}

a[href].button,
button.button:not(:disabled) {
  cursor: pointer;
}

.button:hover {
  outline: none;
  background-color: var(--accent-catalog);
}

.button:active {
  outline: none;
  background-color: var(--error);
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.button__icon {
  pointer-events: none;
}

/* Button Color Modifiers */

.button_white {
  background-color: var(--white);
}

.button_ghost {
  background-color:var(--white-30);
}

.button_ghost:hover,
.button_ghost:focus-visible {
  background-color: var(--basic-greylight-30);
}

.button_ghost:active {
  background-color: var(--special-grey-30);
}

.button_basic-green {
  background-color: var(--basic-green);
}

.button_basic-green:hover {
  background-color: var(--success);
}

.button_basic-green:active {
  background-color: var(--accent-color-button);
}

/* Button View Modifiers */

.button_convex {
  border-radius: 2px;

  box-shadow: inset 0px -3px 0px var(--basic-black-25);
}

.button_convex:focus-visible {
  outline: 2px solid var(--bar-background);
}

.button_convex .button__icon {
  opacity: 0.3;
}

.button_convex.button_basic-green{
  box-shadow: inset 0px -3px 0px #367315;
}

.button_outlined {
  border-radius: 2px;
  border: 3px solid var(--basic-green);
  color: var(--accent-color-border);

  transition: border-color 100ms, color 100ms;
}

.button_outlined,
.button_outlined:hover,
.button_outlined:active {
  background-color: transparent;
}

.button_outlined:hover {
  border-color: var(--accent-color-border);
}

.button_outlined:active {
  border-color: var(--basic-greylight);
  color: var(--basic-greylight);
}

.button_pure {
  color: var(--basic-black);
  border: 1px solid var(--border-button);

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.button_pure,
.button_pure:hover,
.button_pure:active{
  background-color: var(--white);
}

.button_pure:hover {
  border-color: var(--basic-greylight);
}

.button_pure:focus-visible {
  box-shadow: 0 0 0 2px var(--bar-background);
}

.button_pure:active {
  border-color: var(--basic-red);
}

.button-show:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--bar-background);
}

.button_pure:focus-visible {
  box-shadow: 0 0 0 2px var(--bar-background);
}

/* Button Context Classes */

.button_filter {
  width: 220px;

  border-radius: 0;
}

.button-offer-card {
  width: 135px;
}

.plate-beige-button {
  margin-left: auto;
}

.button_product-card-popup {
  width: 135px;
}

.button_about-us{
  width: 220px;
}

.write-us-submit-button {
  width: 460px;
}

.button_contacts {
  width: 300px;
}

.button_contacts:focus,
.button_contacts:focus-visible {
  outline: none;
}

.button_pagination-next {
  padding-right: 29px;
  padding-left: 29px;

  border-radius: 2px;
}

.button_pagination {
  width: 38px;

  border-radius: 2px;
}


