.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 192px;
  height: 38px;

  text-decoration: none;
  text-transform: uppercase;

  color: var(--white);
  border: none;

  background-color: var(--basic-red);
  transition: background-color 100ms;

  font-size: 14px;
  line-height: 18px;
}

a[href].button,
button.button:not(:disabled) {
  cursor: pointer;
}

.button:hover {
  outline: none;
  background-color: var(--accent-catalog);
}

.button:active {
  outline: none;
  background-color: var(--error);
}

.button .button-icon {
  margin-right: 8px;
}

/* Button Color Modifiers */

.button-white {
  background-color: var(--white);
}

.button-white-action,
.button-white-action:hover,
.button-white-action:active {
  color: var(--basic-black);
  border: 1px solid var(--border-button);
  background-color: var(--white);
}

.button-ghost {
  background-color:var(--white-30);
}

.button-ghost:hover {
  background-color: var(--basic-greylight-30);
}

.button-ghost:active {
  background-color: var(--special-grey-30);
}

.button-basic-green {
  background-color: var(--basic-green);
}

.button-basic-green:hover {
  background-color: var(--success);
}

.button-basic-green:active {
  background-color: var(--accent-color-button);
}

/* Button View Modifiers */

.button-convex {
  border-radius: 2px;

  box-shadow: inset 0px -3px 0px var(--basic-black-25);
}

.button-convex .button-icon {
  opacity: 0.3;
}

.button-convex.button-basic-green{
  box-shadow: inset 0px -3px 0px #367315;
}

.button-outlined {
  border-radius: 2px;
  border: 3px solid var(--basic-green);
  color: var(--accent-color-border);

  transition: border-color 100ms, color 100ms;
}

.button-outlined,
.button-outlined:hover,
.button-outlined:active {
  background-color: transparent;
}

.button-outlined:hover {
  border-color: var(--accent-color-border);
}

.button-outlined:active {
  border-color: var(--basic-greylight);
  color: var(--basic-greylight);
}

.button-show {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

/* Button Context Classes */

.button-filter {
  width: 220px;
}

.button-offer-card {
  width: 135px;
}

.plate-beige-button {
  margin-left: auto;
}

.button-product-overlay-buy {
  width: 135px;
}

.write-us-submit-button {
  width: 460px;
}
