.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  box-sizing: border-box;
  width: 192px;
  height: 38px;

  user-select: none;
  text-decoration: none;
  text-transform: uppercase;

  outline: none;
  color: var(--color-white);
  border: none;

  background-color: var(--color-amaranth);
  transition: var(--time-microinteraction);

  font-size: 14px;
  line-height: 18px;
}

a[href].button,
button.button:not(:disabled) {
  cursor: pointer;
}

.button:hover {
  outline: none;
  background-color: var(--color-amaranth-darker);
}

.button:active {
  outline: none;
  background-color: var(--color-amaranth-dark);
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.button__icon {
  pointer-events: none;
}

/* Button Color Modifiers */

.button_white {
  background-color: var(--color-white);
}

.button_ghost {
  background-color:var(--color-white-30);
}

.button_ghost:hover,
.button_ghost:focus-visible {
  background-color: var(--color-silver-30);
}

.button_ghost:active {
  background-color: var(--color-silver-chalice-30-darker);
}

.button_basic-green {
  background-color: var(--color-apple);
}

.button_basic-green:hover,
.button_basic-green:focus-visible {
  background-color: var(--color-apple-lighter);
}

.button_basic-green:active {
  background-color: var(--color-apple-dark);
}

/* Button View Modifiers */

.button_convex {
  border-radius: 2px;

  box-shadow: inset 0px -3px 0px var(--color-black-25);
}

.button_convex:focus-visible {
  outline: 2px solid var(--color-caribbean-green);
}

.button_convex .button__icon {
  opacity: 0.3;
}

.button_convex.button_basic-green{
  box-shadow: inset 0px -3px 0px #367315;
}

.button_outlined {
  border-radius: 2px;
  border: 3px solid var(--color-apple);
  color: var(--color-pickled-bluewood);

  transition: border-color var(--time-microinteraction), color var(--time-microinteraction);
}

.button_outlined,
.button_outlined:hover,
.button_outlined:active {
  background-color: transparent;
}

.button_outlined:hover,
.button_outlined:focus-visible {
  border-color: var(--color-pickled-bluewood);
}

.button_outlined:active {
  border-color: var(--color-silver);
  color: var(--color-silver);
}

.button_pure {
  color: var(--color-black);
  border: 1px solid var(--color-mercury);

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.button_pure,
.button_pure:hover,
.button_pure:active{
  background-color: var(--color-white);
}

.button_pure:hover {
  border-color: var(--color-silver);
}

.button_pure:focus-visible {
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.button_pure:active {
  border-color: var(--color-amaranth);
}

.button-show:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

.button_pure:focus-visible {
  box-shadow: 0 0 0 2px var(--color-caribbean-green);
}

/* Button Context Classes */

.button_filter {
  width: 220px;

  border-radius: 0;
}

.button-offer-card {
  width: 135px;
}

.plate-beige-button {
  margin-left: auto;
}

.button_product-card-popup {
  width: 135px;
}

.button_about-us{
  width: 220px;
}

.button_about-us:focus-visible {
  background-color: var(--color-amaranth-darker);
}

.button_write-us{
  width: 460px;
}

.button_contacts {
  width: 300px;
}

.button_contacts:focus,
.button_contacts:focus-visible {
  outline: none;
  background-color: var(--color-amaranth-darker);
}

.button_pagination-next {
  width: 140px;
  padding-right: 29px;
  padding-left: 29px;

  border-radius: 2px;
}

.button_pagination {
  width: 38px;

  border-radius: 2px;
}


